Creating an etl Job

In [ ]:
from spark_session_factory import create_spark_session
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql import functions as F
from pyspark.sql.window import Window
from pyspark.sql.types import DecimalType

In [ ]:
def run_etl(spark: SparkSession, input_path_topic1: str, input_path_topic2: str, output_path: str):
    """
    Main ETL pipeline: read -> transform -> write.
    
    Args:
        spark: Active SparkSession
        input_path: Landing zone path (e.g., '/opt/spark-data/landing/*.json')
        output_path: Gold zone path (e.g., '/opt/spark-data/gold')
    """
    # TODO: Implement
    # Accessing Spark Session
    spark = spark
    
    # Reading from the two json files and cache them for more use
    df_topic_transaction = spark.read.json(input_path_topic1).cache()
    df_topic_user = spark.read.json(input_path_topic2).withColumnRenamed("timestamp","u_timestamp").cache()
    
    # df_topic_transaction.show(truncate=False)
    # df_topic_user.show(truncate=False)
    
    # print(df_topic_transaction.printSchema())
    # print(df_topic_user.printSchema())
    
    # Each product gets its own row called product and renaming timestamp
    df_exploded_transaction = df_topic_transaction.withColumn("product", F.explode("products")) \
        .withColumnRenamed("timestamp", "t_timestamp")
        
    # df_exploded_transaction.select("product.product_id").show(truncate= False)
    
    # print(df_exploded_transaction.printSchema())
    # print(df_topic1.select("*").filter(F.col("user_id") == '10f1bc81').count())
    # print(df_topic2.select('*').filter(F.col("user_id") == '10f1bc81').count())
    
    
    # Join on user_id and the product_id being the same
    # Might lead to some data explosion but best bet to limit that
    df_topics_combined = df_exploded_transaction.alias("transaction") \
        .join(df_topic_user.alias("user"), 
              ((F.col("user.user_id") == F.col("transaction.user_id")) & (F.col("user.product_id") == F.col("transaction.product.product_id"))), 
              "inner")
    
    # df_topics_combined.show(truncate=False)
    
    # Split up the columns with more items in it like address, or the products itself
    df_advertising_dept = df_topics_combined \
        .select("products","browser",
            "transaction.user_id","t_timestamp", "device", 
            "shipping_address.state", "shipping_address.city", "shipping_address.country") \
                .withColumn("product", F.explode("products")).drop("products")
    
    # Collecting each name of the product row
    prod_column_names = df_advertising_dept.select("product").schema["product"].dataType.__dict__["names"]
    
    # df_advertising_dept.printSchema()
    
    # Create a new column for each product_id,Name,Quantity, and unit_price. Also solves for the line revenue
    df_advertising_dept = df_advertising_dept.select("*",*[F.col(f"product.{x}").alias(x) for x in prod_column_names]).drop("product") \
        .withColumn("line_revenue", F.round(F.col("quantity")*F.col("unit_price"),2).cast(DecimalType(10,2))) \

        
    

    # print(df_topic_user.count())
    # print(df_topic_transaction.count())
    # print(df_topics_combined.show(truncate=False))
    
    
    # print(df_advertising_dept.printSchema())
    # print(df_advertising_dept.show(truncate=False))
    

    # The tables we need to write to the gold layer
    df_advertising_dept
    
    
    spark.stop() 
    pass

Questions we want to answer!

We can join on by users,
We can rank devices most likely to spend the most

In [186]:
run_etl(create_spark_session("ETL_job"),'../data/landing/transaction_events_1767986916.1293132.json', '../data/landing/user_events_1767986960.934074.json', "")

+----------+
|product_id|
+----------+
|PROD_1078 |
|PROD_1069 |
|PROD_1012 |
|PROD_1140 |
|PROD_1082 |
|PROD_1060 |
|PROD_1024 |
|PROD_1181 |
|PROD_1105 |
|PROD_1082 |
|PROD_1045 |
|PROD_1157 |
|PROD_1138 |
|PROD_1140 |
|PROD_1089 |
|PROD_1161 |
|PROD_1082 |
|PROD_1130 |
|PROD_1041 |
|PROD_1180 |
+----------+
only showing top 20 rows

root
 |-- browser: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- t_timestamp: string (nullable = true)
 |-- device: string (nullable = true)
 |-- state: string (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- category: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- product_name: string (nullable = true)
 |-- quantity: long (nullable = true)
 |-- unit_price: double (nullable = true)
 |-- line_revenue: decimal(10,2) (nullable = true)

None
+-------+--------+---------------------------+-------+-----+--------------+-------+-----------+----------+-----------------+--------+----------+------------+
|browser|user_id |t_timestamp                |device |state|city          |country|category   |product_id|product_name     |quantity|unit_price|line_revenue|
+-------+--------+---------------------------+-------+-----+--------------+-------+-----------+----------+-----------------+--------+----------+------------+
|Chrome |a748dbcf|2026-01-09T19:23:40.792085Z|tablet |SD   |Cindyfurt     |LS     |beauty     |PROD_1138 |Lose Beauty      |1       |221.17    |221.17      |
|Chrome |a748dbcf|2026-01-09T19:23:40.792085Z|tablet |SD   |Cindyfurt     |LS     |toys       |PROD_1140 |Worker Toys      |3       |76.41     |229.23      |
|Chrome |a748dbcf|2026-01-09T19:23:40.792085Z|tablet |SD   |Cindyfurt     |LS     |sports     |PROD_1089 |Fund Sports      |3       |51.07     |153.21      |
|Edge   |ff50bde4|2026-01-09T19:24:22.925259Z|tablet |VA   |Martinezside  |KI     |sports     |PROD_1000 |Material Sports  |1       |261.68    |261.68      |
|Edge   |ff50bde4|2026-01-09T19:24:22.925259Z|tablet |VA   |Martinezside  |KI     |books      |PROD_1140 |Take Books       |2       |76.43     |152.86      |
|Edge   |ff50bde4|2026-01-09T19:24:22.925259Z|tablet |VA   |Martinezside  |KI     |toys       |PROD_1145 |Local Toys       |2       |87.02     |174.04      |
|Chrome |080aadfb|2026-01-09T19:24:43.885429Z|desktop|TX   |Campbellville |NL     |sports     |PROD_1046 |Possible Sports  |4       |235.16    |940.64      |
|Chrome |080aadfb|2026-01-09T19:24:43.885429Z|desktop|TX   |Campbellville |NL     |beauty     |PROD_1028 |Bad Beauty       |2       |114.29    |228.58      |
|Chrome |080aadfb|2026-01-09T19:24:43.885429Z|desktop|TX   |Campbellville |NL     |electronics|PROD_1174 |Apply Electronics|5       |424.34    |2121.70     |
|Chrome |6c307511|2026-01-09T19:24:56.446747Z|mobile |SC   |East Julieport|BG     |sports     |PROD_1040 |Oil Sports       |5       |33.69     |168.45      |
|Chrome |6c307511|2026-01-09T19:24:56.446747Z|mobile |SC   |East Julieport|BG     |toys       |PROD_1125 |Employee Toys    |3       |148.08    |444.24      |
|Chrome |6c307511|2026-01-09T19:24:56.446747Z|mobile |SC   |East Julieport|BG     |clothing   |PROD_1180 |Industry Clothing|5       |358.8     |1794.00     |
|Chrome |6c307511|2026-01-09T19:24:56.446747Z|mobile |SC   |East Julieport|BG     |clothing   |PROD_1013 |Our Clothing     |2       |346.22    |692.44      |
|Chrome |6c307511|2026-01-09T19:24:56.446747Z|mobile |SC   |East Julieport|BG     |toys       |PROD_1107 |We Toys          |2       |259.37    |518.74      |
|Firefox|e2acf72f|2026-01-09T19:25:06.955613Z|mobile |ME   |East Mario    |SO     |sports     |PROD_1009 |Money Sports     |5       |128.58    |642.90      |
|Firefox|e2acf72f|2026-01-09T19:25:06.955613Z|mobile |ME   |East Mario    |SO     |food       |PROD_1117 |Measure Food     |3       |482.44    |1447.32     |
|Firefox|e2acf72f|2026-01-09T19:25:06.955613Z|mobile |ME   |East Mario    |SO     |clothing   |PROD_1126 |Bed Clothing     |1       |93.07     |93.07       |
|Firefox|e2acf72f|2026-01-09T19:25:06.955613Z|mobile |ME   |East Mario    |SO     |clothing   |PROD_1010 |Thought Clothing |1       |13.4      |13.40       |
|Firefox|e2acf72f|2026-01-09T19:25:06.955613Z|mobile |ME   |East Mario    |SO     |toys       |PROD_1127 |Goal Toys        |1       |63.32     |63.32       |
|Edge   |7e570ddf|2026-01-09T19:25:09.105935Z|tablet |ND   |Ashleyberg    |DE     |books      |PROD_1132 |Radio Books      |4       |474.78    |1899.12     |
+-------+--------+---------------------------+-------+-----+--------------+-------+-----------+----------+-----------------+--------+----------+------------+
only showing top 20 rows

None